
body {
  font-family: 'Peddana', serif;
  font-size: 30px;
  margin: 2em;
  text-align: justify;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(187,230,239,1) 43%, rgba(156,219,232,1) 63%, rgba(156,219,232,1) 100%);
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 100px;
  font-style: italic;
  color: darkblue;
}

h2 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 50px;
  font-style: bold;
  color:  	#800000;
}

h3 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 30px;
  color: #8b0000;
}
